.footer {
  width: 100%;
  height: 2rem;
  margin-top: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 3rem; */
}

.footer .img {
  width: 20%;
  /* height: 100%; */
  /* width: auto; */
}
