.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  padding: 1rem 1rem;
}

.openCloseNavbarButton {
  border: none;
  background-color: inherit;
  cursor: pointer;
  align-self: flex-end;
  z-index: 3;

  /* mobile */
  display: static;
}

@media (min-width: 768px) {
  .header {
    /* desktop */
    /* justify-content: stretch;
    gap: 2rem; */
  }
  .openCloseNavbarButton {
    /* desktop */
    /* display: none; */
  }
}
