.main {
  --medium-grey-color: hsl(0, 0%, 41%);
  --almost-black-color: hsl(0, 0%, 8%);
  --white-color: white;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.main .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  gap: 1rem;
}

.main img {
  /* width: 100%; */
  width: 10rem;
  aspect-ratio: 750/564;
  overflow: hidden;
  background-color: red;
}

.main .heading {
  font-size: 2rem;
  font-weight: 700;
}

.main .text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--medium-grey-color);
}

.main .button {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--almost-black-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
