.menuActiveOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 41%, 0.8);
  z-index: 10;
}

.menuActive {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem 1rem;
  z-index: 100;
  background-color: white;
}

.closeIcon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-left: auto;
}
