.menuItemContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button {
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font: inherit;
  background-color: inherit;
  color: inherit;
}

.buttonContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
