.nav {
  --white-color: white;
  --medium-gray-color: hsl(0, 0%, 41%);
}

.nav {
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--medium-gray-color);

  /* mobile */
  display: none;
  padding: 4rem 1rem 2rem 1rem;
}

.nav.open {
  display: flex;

  /* mobile */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  flex-direction: column;
  background-color: var(--white-color);
  height: 100vh;
}

.menuItemsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-content: flex-start;
  align-items: flex-start;
  z-index: inherit;
  background-color: inherit;

  /* mobile */
  flex-direction: column;
}

.anchor {
  text-decoration: none;
  font: inherit;
  color: var(--medium-gray-color);
  z-index: inherit;
}

.button {
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: inherit;
  color: var(--medium-grey-color);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.button.loginButton {
  border: none;
}
.button.registerButton {
  border: thin solid black;
}

.openOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 41%, 0.8);
  z-index: 1;
}

@media (min-width: 768px) {
  /* desktop */
  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white-color);
    z-index: 2;
    padding: 0;
  }

  .menuItemsContainer {
    flex-direction: row;
  }

  .button.loginButton {
    margin-left: auto;
  }
}
